<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AccessConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\USER\Documents\GitHub\FinChurch\St.George Peechi\St.George Peechi\bin\x64\Debug\Church_old2.jin;Persist Security Info=True;Jet OLEDB:Database Password=St.GeorgePeechi123" providerName="System.Data.OleDb"/>
		<add name="PostgreSqlConnectionString" connectionString="Your_PostgreSQL_Connection_String" providerName="Npgsql" />
	</connectionStrings>
</configuration>